.cards-wrapper {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.board-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 470px;
    gap: 40px;
    transform: translateX(500px);
    opacity: 0;
    background-image: url("../assets/wooden-board.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.8s ease;
    &.active {
        transform: translateX(0);
        opacity: 1;
    }
}

.closed-cards {
    width: 170px;
    height: 250px;
    border-radius: 1rem;
    box-shadow: 5px 3px 8px #202020;
    background-image: url("../assets/mythicCardBackground.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease;
}

.open-cards {
    width: 170px;
    height: 250px;
    border-radius: 1rem;
    box-shadow: 5px 3px 8px #202020;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
}
