.difficult-container {
    width: 300px;
    height: 100%;
    padding-left: 40px;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Gwent", sans-serif;
}
